body {
  /* background: #0f172a; dark background */
  color: #fff;
}

.social-card {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #57879aff; /* purple card */
  border-radius: 10px;
  padding: 10px 12px;
  box-shadow: 0px 0px 4px black;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  border: 1px solid rgb(139, 139, 139);
}

.social-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.icon-img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.social-text {
  font-size: 1rem;
  font-weight: 500;
  font-weight: 600;
}
